body {
    background-color: #F39C12;
}


h1 {
    color: #196F3D;
}

h2 {
    color: #4A235A;
}

h3 {
    color: #4A235A;
}

h4 {
    color: #4A235A;
}

ul {
    color: #4A235A;
}

p {
    font-size: 16px;
}

p {
    color: #196F3D;
}

img {
    width: 300px;
}